[user]
    name = Alexander Kuhrt
    email = alexander.kuhrt@reservix.de

[color]
    ui = true

[core]
    editor = vim
    excludesfile = ~/.gitignore
    pager = less -F -X

[alias]
    amend = commit --amend --reuse-message=HEAD
    br = branch
    ci = commit
    co = checkout
    df = diff
    hist = log --pretty="tformat:\"%Cgreen%h%Creset %ad | %s %Cgreen%d%Creset [%an]\"" --date=short
    lg = log -p
    recover = "!f() { git checkout $(git rev-list -n 1 HEAD -- \"$1\")^ -- \"$1\";}; f"
    remotes = remote -v
    st = status -s .
    tags = tag -l
    who = shortlog -s --
[push]
    default = simple
