Xft.dpi:        96
Xft.antialias:  1
Xft.rgba:       rgb
Xft.hinting:    1
Xft.hintstyle:  hintfull

URxvt.saveLines: 10000
URxvt.background: [50]#000000
URxvt.foreground: #C8C8C8
URxvt.font: xft:Droid Sans Mono Dotted for Powerline:pixelsize=13
URxvt.boldFont: xft:Droid Sans Mono Dotted for Powerline:pixelsize=13
URxvt.scrollBar: false
URxvt.geometry: 160x50
URxvt.perl-lib: ~/.dotfiles/_urxvt/
URxvt.perl-ext-common: default,clipboard,url-select
URxvt.url-select.launcher: firefox -new-tab
URxvt.url-select.underline: true
URxvt.colorUL: #0375c6
URxvt.matcher.button: 1
URxvt.cursorBlink: 1
URxvt.cursorColor: #63C603
URxvt.letterSpace: -1

! Black
URxvt.color0: #646464
URxvt.color8: #000000

! Red
URxvt.color1: #C86464
URxvt.color9: #C80000

! Green
URxvt.color2: #96C864
URxvt.color10: #64C800

! Yellow
URxvt.color3: #FFE480
URxvt.color11: #FFC800

! Blue
URxvt.color4: #6496C8
URxvt.color12: #0064C8

! Magenta
URxvt.color5: #C864C8
URxvt.color13: #C800C8

! Cyan
URxvt.color6: #64AFC8
URxvt.color14: #0096C8

! Gray
URxvt.color7: #FFFFFF
URxvt.color15: #C8C8C8

